* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background: darkgrey;
    color: lightgrey;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
}
.card {
width: 250px;
height: 250px;
perspective: 1000px;
}
.heading{
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
    padding: .5rem;
}
.card img{
    border-radius: 1rem;
    display: flex;
}
.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 1s;
    transform-style: preserve-3d;
}
.card:hover .card-inner{
    transform: rotateY(180deg);
}
.card-front,.card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    backface-visibility: hidden;
    border: 1px solid lightgreen;
    border-radius: 1rem;
}
.card-front{
    background: linear-gradient(120deg, rgba(255, 0, 0, 0.532) 30%, #ff7f50 88%, #ffe4c4 40%, #ffb9a0 79%);
}
.card-back{
    background: linear-gradient(120deg, rgba(255, 0, 0, 0.532) 30%, #ff7f50 88%, #ffe4c4 40%, #ffb9a0 79%);
    transform: rotateY(180deg);
}